body{
    background: black;
}
/* used to set a different logo */
.nav-bar__logo img {
    content: url(https://github-production-user-asset-6210df.s3.amazonaws.com/47947075/258106183-3752ccdf-ab74-4c93-8f37-01dde5cb87d9.svg);
}
.top-bar{
    background: #232222;
}
.top-bar__breadcrumbs{
    color: white;
}
.filters-group__panel{
    background-color: black;
    color: white;
}
.filter{
    background-color: #232222;
    color: white;
}
.filter__item{
    background-color: #232222;
    color: white;
}
.applications-list__entry{
    background: #232222;
    color: white;
}

.nav-bar__logo img {
    content: url(https://github-production-user-asset-6210df.s3.amazonaws.com/47947075/258106183-3752ccdf-ab74-4c93-8f37-01dde5cb87d9.svg);
}
